@model EmployeeManagementSystem.Models.Employee

@{
    ViewBag.Title = "Edit Employee";
}

<h2>Edit Employee</h2>

<hr />

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.CreatedDate)

    <div class="form-group">

        <label><b>Employee Name</b></label>

        @Html.TextBoxFor(x => x.Name,
            new
            {
                @class = "form-control"
            })

        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })

    </div>

    <br />

    <div class="form-group">

        <label><b>Department</b></label>

        @Html.TextBoxFor(x => x.Department,
            new
            {
                @class = "form-control"
            })

        @Html.ValidationMessageFor(x => x.Department, "", new { @class = "text-danger" })

    </div>

    <br />

    <div class="form-group">

        <label><b>Salary</b></label>

        @Html.TextBoxFor(x => x.Salary,
            new
            {
                @class = "form-control"
            })

        @Html.ValidationMessageFor(x => x.Salary, "", new { @class = "text-danger" })

    </div>

    <br />

    <div class="form-group">

        <label><b>City</b></label>

        @Html.TextBoxFor(x => x.City,
            new
            {
                @class = "form-control"
            })

        @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })

    </div>

    <br />

    <input type="submit"
           value="Update Employee"
           class="btn btn-success" />

    @Html.ActionLink("Back To List",
                     "Index",
                     null,
                     new { @class = "btn btn-secondary" })
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}